.mainscreenshower {
    position: fixed; /* Stays fixed on screen */
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw; /* Ensures it covers full width */
    height: 100vh; /* Ensures it covers full height */
    display: flex;
    align-items: center;
    justify-content: center;
    animation: netflixvideoloader 0.8s ease-in-out;
    color: white;
    z-index: 2; /* Makes sure it's on top of everything */
}

.video-container {
    display: none;
    width: 80%;
    margin-top: -50px;
}

@keyframes netflixvideoloader {
    0% {
        top: -100%;
        filter: opacity(0.4);
    }

    100% {
        top: 0;
        filter: opacity(1);
    }
}
